USE [master]
GO
/****** Object:  Database [ControlBiometrico]    Script Date: 01/07/2020 16:12:37 ******/
CREATE DATABASE [ControlBiometrico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlBiometrico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ControlBiometrico.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ControlBiometrico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ControlBiometrico_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlBiometrico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlBiometrico]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DatosBiometricoes]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatosBiometricoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [varbinary](max) NULL,
	[ManoDerecha] [bit] NOT NULL,
	[Dedo] [int] NOT NULL,
	[Empleado_Id] [int] NULL,
 CONSTRAINT [PK_dbo.DatosBiometricoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleadoes]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleadoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Documento] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Jornada_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Empleadoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jornadas]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornadas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Lunes] [decimal](18, 2) NOT NULL,
	[Martes] [decimal](18, 2) NOT NULL,
	[Miercoles] [decimal](18, 2) NOT NULL,
	[Jueves] [decimal](18, 2) NOT NULL,
	[Viernes] [decimal](18, 2) NOT NULL,
	[Sabado] [decimal](18, 2) NOT NULL,
	[Domingo] [decimal](18, 2) NOT NULL,
	[PrecioNormal] [decimal](18, 2) NOT NULL,
	[PrecioExtra] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Jornadas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegistroHorarios]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroHorarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Entrada] [datetime] NULL,
	[Salida] [datetime] NULL,
	[Estado] [int] NOT NULL,
	[Empleado_Id] [int] NULL,
 CONSTRAINT [PK_dbo.RegistroHorarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/07/2020 16:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Clave] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Empleado_Id]    Script Date: 01/07/2020 16:12:38 ******/
CREATE NONCLUSTERED INDEX [IX_Empleado_Id] ON [dbo].[DatosBiometricoes]
(
	[Empleado_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jornada_Id]    Script Date: 01/07/2020 16:12:38 ******/
CREATE NONCLUSTERED INDEX [IX_Jornada_Id] ON [dbo].[Empleadoes]
(
	[Jornada_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Empleado_Id]    Script Date: 01/07/2020 16:12:38 ******/
CREATE NONCLUSTERED INDEX [IX_Empleado_Id] ON [dbo].[RegistroHorarios]
(
	[Empleado_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatosBiometricoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DatosBiometricoes_dbo.Empleadoes_Empleado_Id] FOREIGN KEY([Empleado_Id])
REFERENCES [dbo].[Empleadoes] ([Id])
GO
ALTER TABLE [dbo].[DatosBiometricoes] CHECK CONSTRAINT [FK_dbo.DatosBiometricoes_dbo.Empleadoes_Empleado_Id]
GO
ALTER TABLE [dbo].[Empleadoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Empleadoes_dbo.Jornadas_Jornada_Id] FOREIGN KEY([Jornada_Id])
REFERENCES [dbo].[Jornadas] ([Id])
GO
ALTER TABLE [dbo].[Empleadoes] CHECK CONSTRAINT [FK_dbo.Empleadoes_dbo.Jornadas_Jornada_Id]
GO
ALTER TABLE [dbo].[RegistroHorarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RegistroHorarios_dbo.Empleadoes_Empleado_Id] FOREIGN KEY([Empleado_Id])
REFERENCES [dbo].[Empleadoes] ([Id])
GO
ALTER TABLE [dbo].[RegistroHorarios] CHECK CONSTRAINT [FK_dbo.RegistroHorarios_dbo.Empleadoes_Empleado_Id]
GO
USE [master]
GO
